@model IEnumerable<actionbutton.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm("Index", "Employees"))
{
    <b> Search By : </b>
    @Html.RadioButton("sear", "FirstName", true) <text>First Name </text>
    @Html.RadioButton("sear", "LastName") <text> Last Name </text>
    @Html.RadioButton("sear", "Email") <text> Email </text>

    <br />
    <div style="display:flex;">
        @Html.TextBox("Search", "", new { @class = "form-control" })

        <Button type="submit" value="Search" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </Button>
    </div>

 
    <br />
}




@{
    if (Model == null || Model.Count() == 0)
    {
        <span>No Result...</span>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E_mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job_Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CV)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.E_mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job_Title)
                    </td>
                    <td>
                        @{
                            string m = "";
                            if (item.Gender == true)
                            {
                                m = "Male";
                            }
                            else
                            {
                                m = "Female";
                            }
                        }
                        @Html.DisplayFor(modelItem => m)
                    </td>
                    <td>

                        <a download href="../images/@item.Img"> <img width="100" src="~/images/@item.Img"></a>
                    </td>
                    <td>

                        <a download href="../Document/@item.CV"> @item.CV</a>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    }
}


